In [1]:
import re 
import pandas as pd

In [2]:
#Que 1
text = "Python Exercise, PHP exercise."
result= re.sub('[ ,.]',":",text)
print("Orignal text", text)
print("Replaced_text", result)

Orignal text Python Exercise, PHP exercise.
Replaced_text Python:Exercise::PHP:exercise:

In [3]:
#Que 2
dict_={'SUMMARY':['hello,world!','XXXXtest','123four,five:;six...']}

df=pd.DataFrame(dict_)

def rem_char(text):
    result= re.sub('[^a-z\s]',' ',text)
    return result

df= df.applymap(rem_char)
print(df)

                SUMMARY
0          hello world
1                  test
2     four five  six

In [4]:
#Que 3
text= "Hi my name is Abninder Kumar Yadav, I lives in Noida."

def four_char(text):
    pattern= re.compile(r'\w{4,}')
    result = re.findall(pattern,text)
    return result

find_four_char = four_char(text)
print(find_four_char)

['name', 'Abninder', 'Kumar', 'Yadav', 'lives', 'Noida']

In [5]:
#Que 4

text= "Hi my name is Abninder Kumar Yadav, I lives in Noida."

def four_char(text):
    pattern= re.compile(r'\w{3,5}')
    result = re.findall(pattern,text)
    return result

find_four_char = four_char(text)
print(find_four_char)

['name', 'Abnin', 'der', 'Kumar', 'Yadav', 'lives', 'Noida']

In [6]:
#Que 5

string_text=["example(.com)","hr@fliprobo(.com)","github(.com)","Hello(Data Science World)","Data(Scientist)"]

def rem_parn(string_text):
    pattern = re.compile(r'\(([^)]*)\)')
    result = [pattern.sub(r'\1', text) for text in string_text]
    return result

Removed_parn_string= rem_parn(string_text)
print(Removed_parn_string)

['example.com', 'hr@fliprobo.com', 'github.com', 'HelloData Science World', 'DataScientist']

In [7]:
#Que 6
string_text=["example(.com)","hr@fliprobo(.com)","github(.com)","Hello(Data Science World)","Data(Scientist)"]

def rem_parn(string_text):
    pattern = re.compile(r'\(([^)]*)\)')
    result = [pattern.sub('', text) for text in string_text]
    return result

Removed_parn_string= rem_parn(string_text)
print(Removed_parn_string)

['example', 'hr@fliprobo', 'github', 'Hello', 'Data']

In [8]:
#Que 7

sample_text = "ImportanceOfRegularExpressionInPyhton"
result= re.findall("[A-Z][a-z]*",sample_text)

print(sample_text)
print(result)

ImportanceOfRegularExpressionInPyhton
['Importance', 'Of', 'Regular', 'Expression', 'In', 'Pyhton']

In [9]:
#Que 8

sample_text = "RegularExpression1IsAn2ImportantTopic3InPython"

def insert_spaces(text):
    pattern = re.compile(r'(?<=\D)(?=\d)')
    result_string = pattern.sub(' ', text)
    return result_string


final_text = insert_spaces(sample_text)

print( "Orignaltext=",sample_text)
print( "Newtext=",final_text)

Orignaltext= RegularExpression1IsAn2ImportantTopic3InPython
Newtext= RegularExpression 1IsAn 2ImportantTopic 3InPython

In [10]:
#Que 9

sample_text = "RegularExpression1IsAn2ImportantTopic3InPython"

def insert_spaces(text):
    pattern = re.compile(r'(?<=[A-Z\d])(?=[A-Z])|(?<=[a-z])(?=\d)')
    result_string = pattern.sub(' ', text)
    return result_string


final_text = insert_spaces(sample_text)

print( "Orignaltext=",sample_text)
print( "Newtext=",final_text)

Orignaltext= RegularExpression1IsAn2ImportantTopic3InPython
Newtext= RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

In [11]:
#Que 10

df=pd.read_csv("https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv")
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

In [12]:
df['first_five_letters'] = df['Country'].str[:6]
print(df.head(158))

         Country                           Region  Happiness Rank  \
0    Switzerland                   Western Europe               1
1        Iceland                   Western Europe               2
2        Denmark                   Western Europe               3
3         Norway                   Western Europe               4
4         Canada                    North America               5
..           ...                              ...             ...
153       Rwanda               Sub-Saharan Africa             154
154        Benin               Sub-Saharan Africa             155
155        Syria  Middle East and Northern Africa             156
156      Burundi               Sub-Saharan Africa             157
157         Togo               Sub-Saharan Africa             158

     Happiness Score  Standard Error  Economy (GDP per Capita)   Family  \
0              7.587         0.03411                   1.39651  1.34951
1              7.561         0.04884                   1.30232  1.40223
2              7.527         0.03328                   1.32548  1.36058
3              7.522         0.03880                   1.45900  1.33095
4              7.427         0.03553                   1.32629  1.32261
..               ...             ...                       ...      ...
153            3.465         0.03464                   0.22208  0.77370
154            3.340         0.03656                   0.28665  0.35386
155            3.006         0.05015                   0.66320  0.47489
156            2.905         0.08658                   0.01530  0.41587
157            2.839         0.06727                   0.20868  0.13995

     Health (Life Expectancy)  Freedom  Trust (Government Corruption)  \
0                     0.94143  0.66557                        0.41978
1                     0.94784  0.62877                        0.14145
2                     0.87464  0.64938                        0.48357
3                     0.88521  0.66973                        0.36503
4                     0.90563  0.63297                        0.32957
..                        ...      ...                            ...
153                   0.42864  0.59201                        0.55191
154                   0.31910  0.48450                        0.08010
155                   0.72193  0.15684                        0.18906
156                   0.22396  0.11850                        0.10062
157                   0.28443  0.36453                        0.10731

     Generosity  Dystopia Residual first_five_letters
0       0.29678            2.51738             Switze
1       0.43630            2.70201             Icelan
2       0.34139            2.49204             Denmar
3       0.34699            2.46531             Norway
4       0.45811            2.45176             Canada
..          ...                ...                ...
153     0.22628            0.67042             Rwanda
154     0.18260            1.63328              Benin
155     0.47179            0.32858              Syria
156     0.19727            1.83302             Burund
157     0.16681            1.56726               Togo

[158 rows x 13 columns]

In [13]:
#Que 11
test_string1 = "Abninder_kumar_210598"

def true_string(input_string):
    pattern = re.compile(r'^[a-zA-Z0-9_]+$')
    match_result = pattern.match(input_string)

    return bool(match_result)

print(f'Is "{test_string1}" valid? {true_string(test_string1)}')

Is "Abninder_kumar_210598" valid? True

In [14]:
#Que 12

def starts_with_number(string, number_pattern):
    pattern = re.compile(number_pattern)
    match = pattern.match(string)

    if match:
        return True
    else:
        return False

input_string = input("Enter a string: ")
number_pattern = r'^\d+'  

if starts_with_number(input_string, number_pattern):
    print("The string starts with a number.")
else:
    print("The string does not start with a number.")

Enter a string: khgibk
The string does not start with a number.

In [15]:
#Que 13

def remove_leading_zeros(ip_add):
    pattern = re.compile(r'\b0*(\d+)\b')
    new_ip = pattern.sub(r'\1', ip_add)
    return new_ip

ip_add = input("Enter an IP address: ")

new_ip = remove_leading_zeros(ip_add)
print(f"IP address with leading zeros removed: {new_ip}")

Enter an IP address: hjbjhb
IP address with leading zeros removed: hjbjhb

In [21]:
#Que 14
print("Sample_text=",text)
with open('sample_text.txt', 'r') as file:
    text = file.read()

date_pattern = re.compile(r'\b(?:January|February|March|April|May|June|July|August|September|October|November|December)\s+\d{1,2}(?:st|nd|rd|th)\s+\d{4}\b')
matches = date_pattern.findall(text)

for match in matches:
    print("Extracted text=",match)

Sample_text= ' On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Countryâ€™.
Extracted text= August 15th 1947

In [22]:
#Que 15
sample_text = 'The quick brown fox jumps over the lazy dog.'
searched_words = ['fox', 'dog', 'horse']

def search_literals(text, searched_words):
    for word in searched_words:
        pattern = re.compile(re.escape(word))
        match = pattern.search(text)
        if match:
            print(f"Found '{word}' in the text.")
        else:
            print(f"'{word}' not found in the text.")


search_literals(sample_text, searched_words)

Found 'fox' in the text.
Found 'dog' in the text.
'horse' not found in the text.

In [24]:
#Que 16

sample_text = 'The quick brown fox jumps over the lazy dog.'
searched_word = 'fox'

def search_literal_with_location(text, searched_word):
    pattern = re.compile(re.escape(searched_word))
    match = pattern.search(text)

    if match:
        start_position = match.start()
        end_position = match.end()

        print(f"Found '{searched_word}' in the text.")
        print(f"Starts at position: {start_position}")
        print(f"Ends at position: {end_position}")
    else:
        print(f"'{searched_word}' not found in the text.")

search_literal_with_location(sample_text, searched_word)

Found 'fox' in the text.
Starts at position: 16
Ends at position: 19

In [25]:
#Que 17

sample_text = 'Python exercises, PHP exercises, C# exercises'
substring_pattern = 'exercises'

def find_substrings(text, pattern):
    matches = re.finditer(pattern, text)

    for match in matches:
        start_position = match.start()
        end_position = match.end()
        print(f"Found '{pattern}' at position: {start_position}-{end_position}")

find_substrings(sample_text, re.escape(substring_pattern))

Found 'exercises' at position: 7-16
Found 'exercises' at position: 22-31
Found 'exercises' at position: 36-45

In [26]:
#Que 18

sample_text = 'Python exercises, PHP exercises, C# exercises, Python exercises'
substring_pattern = 'exercises'

def find_occurrences_and_positions(text, pattern):
    matches = re.finditer(pattern, text)

    occurrences = 0
    for match in matches:
        occurrences += 1
        start_position = match.start()
        end_position = match.end()
        print(f"Occurrence {occurrences}: '{pattern}' found at position {start_position}-{end_position}")

    if occurrences == 0:
        print(f"'{pattern}' not found in the text.")

find_occurrences_and_positions(sample_text, re.escape(substring_pattern))

Occurrence 1: 'exercises' found at position 7-16
Occurrence 2: 'exercises' found at position 22-31
Occurrence 3: 'exercises' found at position 36-45
Occurrence 4: 'exercises' found at position 54-63

In [36]:
#Que 19

def convert_date_format(input_date):
    date_pattern = re.compile(r'(\d{4})-(\d{2})-(\d{2})')
    match = date_pattern.match(input_date)

    if match:
        year, month, day = match.groups()
        output_date = f"{day}-{month}-{year}"
        return output_date
    else:
        return "Invalid date format"

input_date = '2022-02-03'
output_date = convert_date_format(input_date)

print(f"Original date: {input_date}")
print(f"Converted date: {output_date}")

Original date: 2022-02-03
Converted date: 03-02-2022

In [40]:
#Que 20

sample_text = "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
def find_decimal_numbers(text):
    decimal_pattern = re.compile(r'\b\d+\.\d{1,2}\b')
    matches = decimal_pattern.findall(text)
    return matches

result = find_decimal_numbers(sample_text)
print(result)

['01.12', '145.8', '3.01', '27.25', '0.25']

In [48]:
#Que 21

sample_text = "The price of the item is $54.50 and the quantity is 50."

def extract_numbers_with_positions(text):
    number_pattern = re.compile(r'\b\d+\b')
    matches = number_pattern.finditer(text)

    for match in matches:
        number = match.group()
        start_position = match.start()
        end_position = match.end()
        print(f"Number: {number}, Position: {start_position}-{end_position}")
        
extract_numbers_with_positions(sample_text)

Number: 54, Position: 26-28
Number: 50, Position: 29-31
Number: 50, Position: 52-54

In [52]:
#Que 22
sample_text = 'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'

def extract_maximum_numeric_value(text):
    numeric_pattern = re.compile(r'\b\d+\b')
    numeric_values = map(int, numeric_pattern.findall(text))

    if not numeric_values:
        return None
    max_numeric_value = max(numeric_values)
    return max_numeric_value

max_value = extract_maximum_numeric_value(sample_text)
print(f"The maximum numeric value is: {max_value}")

The maximum numeric value is: 950

In [54]:
#Que 23
sample_text = "RegularExpressionIsAnImportantTopicInPython"

def insert_spaces(text):
    pattern = re.compile(r'([a-z])([A-Z])')
    spaced_text = pattern.sub(r'\1 \2', text)
    spaced_text = re.sub(r'^([A-Z])', r' \1', spaced_text)
    return spaced_text

output_text = insert_spaces(sample_text)
print(output_text)

 Regular Expression Is An Important Topic In Python

In [56]:
#Que 24

def find_uppercase_sequences(text):
    pattern = re.compile(r'([A-Z][a-z]+)')
    matches = pattern.findall(text)
    return matches

sample_text = "Abnunder Kumar is a Good boy."
uppercase_sequences = find_uppercase_sequences(sample_text)
print(uppercase_sequences)

['Abnunder', 'Kumar', 'Good']

In [57]:
#Que 25

sample_text = "Hello hello world world"

def remove_continuous_duplicates(sentence):
    pattern = re.compile(r'\b(\w+)(?:\s+\1\b)+', flags=re.IGNORECASE)
    cleaned_sentence = pattern.sub(r'\1', sentence)
    return cleaned_sentence


output_text = remove_continuous_duplicates(sample_text)
print(output_text)

Hello world

In [59]:
#Que 26

sample_string = "Abninder20598"

def ends_with_alphanumeric(input_string):
    pattern = re.compile(r'\w$')
    match = pattern.search(input_string)
    return bool(match)

result = ends_with_alphanumeric(sample_string)

if result:
    print(f"The string '{sample_string}' ends with an alphanumeric character.")
else:
    print(f"The string '{sample_string}' does not end with an alphanumeric character.")

The string 'Abninder20598' ends with an alphanumeric character.

In [60]:
#Que 27

sample_text = """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""

def extract_hashtags(text):
    hashtag_pattern = re.compile(r'#\w+')
    hashtags = hashtag_pattern.findall(text)

    return hashtags

result = extract_hashtags(sample_text)
print(result)

['#Doltiwal', '#xyzabc', '#Demonetization']

In [63]:
#Que 28

sample_text = "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"

def remove_symbols(text):
    pattern = re.compile(r'<U\+[0-9A-Fa-f]+>')
    new_text = pattern.sub('', text)
    return new_text

result = remove_symbols(sample_text)
print(result)

@Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

In [65]:
#Que 29

def extract_dates_from_file(file_path):
    with open(file_path, 'r') as file:
        text = file.read()
    date_pattern = re.compile(r'\b(\d{2}-\d{2}-\d{4})\b')
    dates = date_pattern.findall(text)
    return dates

file_path = 'sample_text1.txt'
result_dates = extract_dates_from_file(file_path)
print(result_dates)

['12-09-1992', '15-12-1999']

In [67]:
#Que 30

sample_text = "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."

def remove_words(text):
    word_pattern = re.compile(r'\b\w{2,4}\b')
    cleaned_text = word_pattern.sub('', text)
    return cleaned_text

result = remove_words(sample_text)
print(result)

 following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.